.env
Php/.phpunit.cache
Php/node_modules
Php/public/build
Php/public/hot
Php/public/storage
Php/storage/*.key
Php/vendor
Php/.env
Php/.env.backup
Php/.env.production
Php/.phpunit.result.cache
Php/Homestead.json
Php/Homestead.yaml
Php/auth.json
Php/npm-debug.log
Php/yarn-error.log
Php/.fleet
Php/.idea
Php/.vscode
